body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    box-sizing: border-box;
}

/* header */

header {
    height: 7vh;
}

#game_title {
    position: relative;
    height: 90%;
}

#game_title img {
    height: 160%;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 10%;
}

#middle_section {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    max-width: 90vw;
    margin: 0 auto;
}

/* asides */

#aside_left, #aside_right {
    width: 100%;
    display: inline-block;
}

#aside_right {
    right: 0;
}

#player_left, #player_right {
    display: inline-block;
    width: 100%;
    height: 25%;
}

#player_left img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#player_left img, #player_right img {
    width: 100%;
    position: relative;
}

.player_left_card, .player_right_card {
    width: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.player_left_card img, .player_right_card img {
    position: relative;
    width: 100%;
}

#player_left_health, #player_right_health {
    height: 4vh;
    position: relative;
    text-align: center;
}

#player_left_health1,
#player_left_health2,
#player_left_health3,
#player_right_health1,
#player_right_health2,
#player_right_health3 {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    border: 1px solid black;
}

.green {
   background-color: greenyellow;
}

/* center */

#game-area {
    text-align: center;
}

#card_area {
    height: 100%;
    padding-top: 4%;
}

.card {
    width: 18%;
    height: 19%;
    display: inline-block;
    position: relative;
    margin-bottom: 1%;
}

.card img {
    width: 60%;
    height: 100%;
}

.card_back {
    position: relative;
    width: 10%;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    opacity: 0.3;
}

/* footer */

h3 {
    margin: 0;
    text-align: center;
}

#stats_row {
    text-align: center;
}

#stats_row div {
    display: inline-block;
    margin: 1% 2%;
}

#reset {
    display: inline-block;
    position: relative;
}

#stats_row {
}

/* functionality below */

.hidden .back {
    display: none;
}

.matched {
}

.animate {
    z-index: 1;
    border: 2px solid black;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.modal_img {
    width: 60%;
    margin: 0 auto;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.shadow {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal_image {
    width: 50%;
    display: inline-block;
}

.modal_text {
    float: right;
    font-size: 1.8em;
    padding-top: 14%;
    padding-right: 7%;
}

.about_modal_text {
    font-size: 1.5em;
    padding-top: 14%;
    padding-bottom: 15%;
    width: 80%;
    margin: 0 auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
}

.about_image {
    width: 40%;
}