body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    box-sizing: border-box;
}

/* header */

header {
    height: 7vh;
}

#game_title {
    position: relative;
    height: 90%;
}

#game_title img {
    height: 170%;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 10%;
}

#middle_section {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

/* asides */

#aside_left, #aside_right {
    width: 100%;
    display: inline-block;
}

#aside_right {
    right: 0;
}

#player_left, #player_right {
    display: inline-block;
    width: 100%;
    height: 25%;
}

#player_left img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#player_left img, #player_right img {
    width: 100%;
    position: relative;
}

.player_left_card, .player_right_card {
    width: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.player_left_card img, .player_right_card img {
    position: relative;
    width: 100%;
}

#player_left_health, #player_right_health {
    height: 4vh;
    position: relative;
    text-align: center;
}

#player_left_health1,
#player_left_health2,
#player_left_health3,
#player_right_health1,
#player_right_health2,
#player_right_health3 {
    background-color: greenyellow;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    border: 1px solid black;
}

/* center */

#game-area {
    text-align: center;
}

#card_area {
    height: 100%;
    padding-top: 4%;
}

.card {
    width: 18%;
    height: 19%;
    display: inline-block;
    position: relative;
    margin-bottom: 1%;
}

.card img {
    width: 60%;
    height: 100%;
}

.card_back {
    position: relative;
    width: 10%;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* footer */

h3 {
    margin: 0;
    text-align: center;
}

#stats_row {
    text-align: center;
}

#stats_row div {
    display: inline-block;
    margin: 1% 2%;
}

#reset {
    display: inline-block;
    position: relative;
}

/* functionality below */

.hidden .back {
    display: none;
}

.matched {

}